#mydiv1 {
    border: 2px solid rebeccapurple;
    padding: 10px;

}
#mydiv2 {
    border: 2px solid rebeccapurple;
    padding: 10px;

}

.myDiv4 {
    border: 2px solid rebeccapurple;
    padding: 10px;

}