#mydiv1 {
    border: 2px solid rebeccapurple;
    padding: 10px;

}
#mydiv2 {
    border: 2px solid rebeccapurple;
    padding: 10px;

}

.myDiv4 {
    border: 2px solid rebeccapurple;
    padding: 10px;

}
.cube7 {
    width:100px;
    height: 100px;
    background-color: aqua;
    padding: 20px;
    margin: 20px;
}

.cube8 {
    width:100px;
    height: 100px;
    background-color: aqua;
    padding: 20px;
    margin: 20px;
    display: inline-block;
}