#h2-2-1 {
    color: blue;
}
.myhead3 {
    border: 2px solid blue;
    margin: 5px;
    padding: 10px;
}
.myhead4 {
    border: 2px solid blue;
    margin: 5px;
    padding: 10px;
}
.myhead5 {
    border: 2px solid blue;
    margin: 5px;
    padding: 10px;
}
.myhead6 {
    border: 2px solid blue;
    margin: 5px;
    padding: 10px;
}
.myhead7 {
    border: 2px solid blue;
    margin: 5px;
    padding: 10px;
}
.myhead8 {
    border: 2px solid blue;
    margin: 5px;
    padding: 10px;
}
.myhead9 {
    border: 2px solid blue;
    margin: 5px;
    padding: 10px;
}
.myhead10 {
    border: 2px solid blue;
    margin: 5px;
    padding: 10px;
}
.myhead11 {
    border: 2px solid blue;
    margin: 5px;
    padding: 10px;
}
.myhead12 {
    border: 2px solid blue;
    margin: 5px;
    padding: 10px;
}
.newhead12 {
    border-radius: 10px;
    background-color: aqua;
}
.new2head12 {
    color: rebeccapurple;
    
}

.mycube7{
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    opacity: 0.4;
    position: absolute;
    padding: 20px;

}

/* div p {
    color: red;
} */
.stHead {
    color: red;
}